:host{
    width: 100%;
    border-radius: 5px;
    display: block;
    position: relative;
}

:host input{
    border:none;
    width:calc(100% - 20px);
    float:left;
    height: 20px;
    line-height: 20px;
    outline:none;
}

:host img{
    float: left;
    margin-top:2px;
}
