<div class="navbar">
    <!-- <audio id="musicAlarm" src="" autoplay="autoplay" loop="loop"></audio> -->
    <div class="navbar-left">
        <a class="logo">
            <img class="icon-top" src="assets/img/logo.png" (click)="gohome()">
        </a>
    </div>

    <div class="navbar-right">
        <div class="zt-user-profile">
            <img class="user-avatar" src="assets/img/top/pic_touxiang.png" />
            <nz-dropdown [nzPlacement]="'bottomRight'">
                <span class="username" nz-dropdown>zhangshengze<i class="anticon anticon-down"></i></span>
                <!--<ul nz-menu>-->
                    <!--<li class="dropdown-item" nz-menu-item (click)="gotoProfile()"><i class="fa  fa-user-circle-o  fa-fw"></i>-->
                        <!--个人设置</li>-->
                    <!--<li class="dropdown-item" nz-menu-item (click)="changePwd()"><i class="fa  fa-key fa-fw"></i> 修改密码</li>-->
                    <!--<li class="dropdown-item" nz-menu-item (click)="logout()"><i class="fa  fa-sign-out fa-fw"></i>-->
                        <!--退出登录</li>-->
                <!--</ul>-->
            </nz-dropdown>
        </div>
    </div>
</div>
